<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logindemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SearchBook" />
        <activity android:name=".NotificationAll" />
        <activity android:name=".NotificationDetail" />
        <activity android:name=".homepage" />
        <activity android:name=".MyHistory" />
        <activity android:name=".DetailBook" />
        <activity android:name=".MyCart" />
<!--        <activity android:name=".BookOffer" /> &lt;!&ndash; <activity android:name=".DetailBook" /> &ndash;&gt;-->
        <activity android:name=".ProfileActivity" />
        <activity android:name=".BookOffer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>